In [1]:
import pandas as pd
import numpy as np

# USA Facts COVID  Data

* Working with three different datasets from usafacts.org:
    * one lists cumulative confirmed cases for each county by day
    * one is the same but deaths
    * one includes the population of each county

In [2]:
confirmed = pd.read_csv("covid_confirmed_usafacts.csv")
deaths = pd.read_csv("covid_deaths_usafacts.csv")
county_pop = pd.read_csv("covid_county_population_usafacts.csv")

In [3]:
print(confirmed.shape, deaths.shape, county_pop.shape)

(3195, 322) (3195, 322) (3195, 4)

In [4]:
confirmed.head() #most recent data goes thru 11/18/2020

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/20,11/26/20,11/27/20,11/28/20,11/29/20,11/30/20,12/1/20,12/2/20,12/3/20,12/4/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,2686,2704,2716,2735,2751,2780,2818,2873,2893,2945
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,8473,8576,8603,8733,8820,8890,9051,9163,9341,9501
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1170,1170,1171,1173,1175,1178,1189,1206,1214,1217
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,1162,1170,1173,1179,1188,1196,1204,1239,1252,1270

In [5]:

confirmed_monthly = confirmed[["countyFIPS","County Name","State","stateFIPS", 
           "1/31/20", "2/29/20", "3/31/20","4/30/20","5/31/20","6/30/20","7/31/20","8/31/20","9/30/20","10/31/20","11/30/20"]]
#confirmed_monthly = confirmed_monthly.join(county_pop[["population"]])
confirmed_monthly

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20,10/31/20,11/30/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,7,42,220,537,1015,1442,1791,2159,2780
2,1003,Baldwin County,AL,1,0,0,19,174,288,680,3101,4545,5640,6940,8890
3,1005,Barbour County,AL,1,0,0,0,39,164,325,598,757,896,1060,1178
4,1007,Bibb County,AL,1,0,0,3,42,75,170,363,554,664,873,1196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,2,11,30,89,240,302,339,553,1888
3191,56039,Teton County,WY,56,0,0,23,65,100,129,335,430,577,796,1644
3192,56041,Uinta County,WY,56,0,0,0,6,12,176,254,298,356,479,1070
3193,56043,Washakie County,WY,56,0,0,1,5,36,39,48,108,116,158,441
3194,56045,Weston County,WY,56,0,0,0,0,1,2,5,19,39,159,397

In [6]:
deaths.head()
deaths_monthly = deaths[["countyFIPS","County Name","State","stateFIPS", 
           "1/31/20", "2/29/20", "3/31/20","4/30/20","5/31/20","6/30/20","7/31/20","8/31/20","9/30/20","10/31/20", "11/30/20"]]
#deaths_monthly = deaths_monthly.join(county_pop[["population"]])
deaths_monthly

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20,10/31/20,11/30/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,3,4,12,21,23,27,30,42
2,1003,Baldwin County,AL,1,0,0,0,3,9,10,22,42,52,71,98
3,1005,Barbour County,AL,1,0,0,0,1,1,1,5,7,7,9,11
4,1007,Bibb County,AL,1,0,0,0,0,1,1,2,8,10,15,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,2,2,2,2,6
3191,56039,Teton County,WY,56,0,0,0,1,1,1,1,1,1,1,2
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,0,2,2,3,4
3193,56043,Washakie County,WY,56,0,0,0,0,3,5,5,5,6,7,8
3194,56045,Weston County,WY,56,0,0,0,0,0,0,0,0,0,0,1

In [7]:
county_pop

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [8]:
#Export These
confirmed_monthly.to_csv('confirmed_monthly.csv')
deaths_monthly.to_csv('deaths_monthly.csv')

# Joins

* Tying all the usafacts data together

In [9]:
deaths_monthly_for_join = deaths_monthly[["countyFIPS","1/31/20","2/29/20",
                                          "3/31/20","4/30/20","5/31/20","6/30/20","7/31/20",
                                          "8/31/20","9/30/20","10/31/20","11/30/20"]]
#deaths_monthly_for_join["10/31/20"].value_counts()
#deaths_monthly_for_join.iloc[56037]

In [10]:
aggregated = confirmed_monthly.join(deaths_monthly_for_join, lsuffix = "", rsuffix = "_deaths")
aggregated = aggregated[['countyFIPS', 'County Name', 'State', 'stateFIPS', '1/31/20', '2/29/20',
       '3/31/20', '4/30/20', '5/31/20', '6/30/20', '7/31/20', '8/31/20',
       '9/30/20', '10/31/20', '11/30/20',
       '1/31/20_deaths', '2/29/20_deaths', '3/31/20_deaths', '4/30/20_deaths',
       '5/31/20_deaths', '6/30/20_deaths', '7/31/20_deaths', '8/31/20_deaths',
       '9/30/20_deaths', '10/31/20_deaths', '11/30/20_deaths']]
#aggregated = aggregated.fillna(0)
aggregated

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,2/29/20_deaths,3/31/20_deaths,4/30/20_deaths,5/31/20_deaths,6/30/20_deaths,7/31/20_deaths,8/31/20_deaths,9/30/20_deaths,10/31/20_deaths,11/30/20_deaths
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,7,42,220,537,...,0,0,3,4,12,21,23,27,30,42
2,1003,Baldwin County,AL,1,0,0,19,174,288,680,...,0,0,3,9,10,22,42,52,71,98
3,1005,Barbour County,AL,1,0,0,0,39,164,325,...,0,0,1,1,1,5,7,7,9,11
4,1007,Bibb County,AL,1,0,0,3,42,75,170,...,0,0,0,1,1,2,8,10,15,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,0,0,0,0,0,2,2,2,2,6
3191,56039,Teton County,WY,56,0,0,23,65,100,129,...,0,0,1,1,1,1,1,1,1,2
3192,56041,Uinta County,WY,56,0,0,0,6,12,176,...,0,0,0,0,0,0,2,2,3,4
3193,56043,Washakie County,WY,56,0,0,1,5,36,39,...,0,0,0,3,5,5,5,6,7,8
3194,56045,Weston County,WY,56,0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,1

In [11]:
aggregated["10/31/20_deaths"].value_counts()

0       361
1       239
2       183
3       147
4       137
       ...
3647      1
1588      1
1530      1
1436      1
3606      1
Name: 10/31/20_deaths, Length: 339, dtype: int64

# Poverty Data

* Tying in Povery data from ##SOURCE## to integrate work done by Don

In [13]:
poverty = pd.read_csv("PovertyEstimates.csv")

In [14]:
poverty.columns = ['countyFIPS', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2003',
       'Urban_Influence_Code_2003', 'Rural-urban_Continuum_Code_2013',
       'Urban_Influence_Code_2013', 'POVALL_2018', 'CI90LBAll_2018',
       'CI90UBALL_2018', 'PCTPOVALL_2018', 'CI90LBALLP_2018',
       'CI90UBALLP_2018', 'POV017_2018', 'CI90LB017_2018', 'CI90UB017_2018',
       'PCTPOV017_2018', 'CI90LB017P_2018', 'CI90UB017P_2018', 'POV517_2018',
       'CI90LB517_2018', 'CI90UB517_2018', 'PCTPOV517_2018', 'CI90LB517P_2018',
       'CI90UB517P_2018', 'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018',
       'POV04_2018', 'CI90LB04_2018', 'CI90UB04_2018', 'PCTPOV04_2018',
       'CI90LB04P_2018', 'CI90UB04P_2018']
poverty = poverty[["countyFIPS", "PCTPOVALL_2018", "POVALL_2018"]]
poverty

      countyFIPS  PCTPOVALL_2018 POVALL_2018
0              0            13.1  41,852,315
1           1000            16.8     801,758
2           1001            13.8       7,587
3           1003             9.8      21,069
4           1005            30.9       6,788
...          ...             ...         ...
3188       56037             8.4       3,540
3189       56039             6.3       1,443
3190       56041            10.0       2,010
3191       56043            11.9         918
3192       56045            11.8         777

[3193 rows x 3 columns]

In [15]:
aggregated_pov = aggregated.merge(poverty, on = "countyFIPS", how = "left")

In [16]:
aggregated_pov.isna().sum() # There are a few NA's in povery data. These will be filled with... 0? State Average?
aggregated_pov = aggregated_pov.fillna(0)
aggregated_pov

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,4/30/20_deaths,5/31/20_deaths,6/30/20_deaths,7/31/20_deaths,8/31/20_deaths,9/30/20_deaths,10/31/20_deaths,11/30/20_deaths,PCTPOVALL_2018,POVALL_2018
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13.1,"41,852,315"
1,1001,Autauga County,AL,1,0,0,7,42,220,537,...,3,4,12,21,23,27,30,42,13.8,"7,587"
2,1003,Baldwin County,AL,1,0,0,19,174,288,680,...,3,9,10,22,42,52,71,98,9.8,"21,069"
3,1005,Barbour County,AL,1,0,0,0,39,164,325,...,1,1,1,5,7,7,9,11,30.9,"6,788"
4,1007,Bibb County,AL,1,0,0,3,42,75,170,...,0,1,1,2,8,10,15,17,21.8,"4,400"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,0,0,0,2,2,2,2,6,8.4,"3,540"
3191,56039,Teton County,WY,56,0,0,23,65,100,129,...,1,1,1,1,1,1,1,2,6.3,"1,443"
3192,56041,Uinta County,WY,56,0,0,0,6,12,176,...,0,0,0,0,2,2,3,4,10.0,"2,010"
3193,56043,Washakie County,WY,56,0,0,1,5,36,39,...,0,3,5,5,5,6,7,8,11.9,918
3194,56045,Weston County,WY,56,0,0,0,0,1,2,...,0,0,0,0,0,0,0,1,11.8,777

# SocioEcon

* Tying in socioeconomic data to integrate work done by Sirak

In [17]:
hh_inc = pd.read_csv("MedianHouseholdIncome_Estimates.csv")

In [18]:
hh_inc.columns

Index(['FIPStxt', 'Stabr', 'area_name', 'Rural_urban_continuum_code_2013',
       'Urban_influence_code_2013', 'Metro_2013',
       ' Civilian_labor_force_2000 ', ' Employed_2000 ', ' Unemployed_2000 ',
       'Unemployment_rate_2000', ' Civilian_labor_force_2001 ',
       ' Employed_2001 ', ' Unemployed_2001 ', 'Unemployment_rate_2001',
       ' Civilian_labor_force_2002 ', ' Employed_2002 ', ' Unemployed_2002 ',
       'Unemployment_rate_2002', ' Civilian_labor_force_2003 ',
       ' Employed_2003 ', ' Unemployed_2003 ', 'Unemployment_rate_2003',
       ' Civilian_labor_force_2004 ', ' Employed_2004 ', ' Unemployed_2004 ',
       'Unemployment_rate_2004', ' Civilian_labor_force_2005 ',
       ' Employed_2005 ', ' Unemployed_2005 ', 'Unemployment_rate_2005',
       ' Civilian_labor_force_2006 ', ' Employed_2006 ', ' Unemployed_2006 ',
       'Unemployment_rate_2006', ' Civilian_labor_force_2007 ',
       ' Employed_2007 ', ' Unemployed_2007 ', 'Unemployment_rate_2007',
       ' Civilian_labor_force_2008 ', ' Employed_2008 ', ' Unemployed_2008 ',
       'Unemployment_rate_2008', 'Civilian_labor_force_2009', 'Employed_2009',
       'Unemployed_2009', 'Unemployment_rate_2009',
       ' Civilian_labor_force_2010 ', ' Employed_2010 ', ' Unemployed_2010 ',
       'Unemployment_rate_2010', ' Civilian_labor_force_2011 ',
       ' Employed_2011 ', ' Unemployed_2011 ', 'Unemployment_rate_2011',
       ' Civilian_labor_force_2012 ', ' Employed_2012 ', ' Unemployed_2012 ',
       'Unemployment_rate_2012', ' Civilian_labor_force_2013 ',
       ' Employed_2013 ', ' Unemployed_2013 ', 'Unemployment_rate_2013',
       ' Civilian_labor_force_2014 ', ' Employed_2014 ', ' Unemployed_2014 ',
       'Unemployment_rate_2014', ' Civilian_labor_force_2015 ',
       ' Employed_2015 ', ' Unemployed_2015 ', 'Unemployment_rate_2015',
       ' Civilian_labor_force_2016 ', ' Employed_2016 ', ' Unemployed_2016 ',
       'Unemployment_rate_2016', 'Civilian_labor_force_2017', 'Employed_2017',
       'Unemployed_2017', 'Unemployment_rate_2017',
       'Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018',
       'Unemployment_rate_2018', ' Civilian_labor_force_2019 ',
       ' Employed_2019 ', ' Unemployed_2019 ', 'Unemployment_rate_2019',
       'Median_Household_Income_2018',
       'Med_HH_Income_Percent_of_State_Total_2018'],
      dtype='object')

In [19]:
hh_inc = hh_inc[['FIPStxt','Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018',
 'Unemployment_rate_2018', 'Median_Household_Income_2018', 'Med_HH_Income_Percent_of_State_Total_2018']]
hh_inc.columns = ['countyFIPS','Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018',
 'Unemployment_rate_2018', 'Median_Household_Income_2018', 'Med_HH_Income_Percent_of_State_Total_2018']

In [20]:
hh_inc

,countyFIPS,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,"161,389,026","155,102,319","6,286,707",3.9,"61,937",NaN
1,1000,"2,216,627","2,130,845","85,782",3.9,"49,881",100.0
2,1001,"26,196","25,261",935,3.6,"59,338",119.0
3,1003,"95,233","91,809","3,424",3.6,"57,588",115.5
4,1005,"8,414","7,987",427,5.1,"34,382",68.9
...,...,...,...,...,...,...,...
3270,72145,"13,117","11,750","1,367",10.4,NaN,NaN
3271,72147,"2,718","2,269",449,16.5,NaN,NaN
3272,72149,"7,311","6,154","1,157",15.8,NaN,NaN
3273,72151,"8,762","7,509","1,253",14.3,NaN,NaN
3274,72153,"9,716","8,288","1,428",14.7,NaN,NaN

In [21]:
aggregated_hh_inc = aggregated_pov.merge(hh_inc, on = "countyFIPS", how = "left")

In [22]:
aggregated_hh_inc.isna().sum()
aggregated_hh_inc = aggregated_hh_inc.fillna(0)
aggregated_hh_inc

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,10/31/20_deaths,11/30/20_deaths,PCTPOVALL_2018,POVALL_2018,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,13.1,"41,852,315","161,389,026","155,102,319","6,286,707",3.9,"61,937",0.0
1,1001,Autauga County,AL,1,0,0,7,42,220,537,...,30,42,13.8,"7,587","26,196","25,261",935,3.6,"59,338",119.0
2,1003,Baldwin County,AL,1,0,0,19,174,288,680,...,71,98,9.8,"21,069","95,233","91,809","3,424",3.6,"57,588",115.5
3,1005,Barbour County,AL,1,0,0,0,39,164,325,...,9,11,30.9,"6,788","8,414","7,987",427,5.1,"34,382",68.9
4,1007,Bibb County,AL,1,0,0,3,42,75,170,...,15,17,21.8,"4,400","8,605","8,268",337,3.9,"46,064",92.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,2,6,8.4,"3,540","21,285","20,425",860,4.0,"73,315",117.8
3191,56039,Teton County,WY,56,0,0,23,65,100,129,...,1,2,6.3,"1,443","15,405","14,959",446,2.9,"99,087",159.2
3192,56041,Uinta County,WY,56,0,0,0,6,12,176,...,3,4,10.0,"2,010","9,028","8,650",378,4.2,"63,401",101.8
3193,56043,Washakie County,WY,56,0,0,1,5,36,39,...,7,8,11.9,918,"4,058","3,892",166,4.1,"55,190",88.6
3194,56045,Weston County,WY,56,0,0,0,0,1,2,...,0,1,11.8,777,"3,767","3,641",126,3.3,"54,319",87.2

In [23]:
for i in aggregated_hh_inc["10/31/20_deaths"]/aggregated_hh_inc["10/31/20"]:
    if i > 0.5:
        print(i)

inf
inf
inf
1.6231884057971016
inf

# Racial Data by county

In [24]:
race = pd.read_csv("countypopmonthasrh.csv")

In [25]:
by_county = race.groupby("county").sum()
by_county["countyFIPS"] = by_county.index
#by_county[by_county["county"] == 6001]
#by_county.columns

In [26]:
np.sum(by_county.tot_pop)

5662599692

In [27]:
by_county = by_county[['state', 'countyFIPS', "year",'tot_pop',
       'tot_male', 'tot_female', 'wa_male', 'wa_female', 'ba_male',
       'ba_female', 'ia_male', 'ia_female', 'aa_male', 'aa_female', 'na_male',
       'na_female', 'tom_male', 'tom_female', 'wac_male', 'wac_female',
       'bac_male', 'bac_female', 'iac_male', 'iac_female', 'aac_male',
       'aac_female', 'nac_male', 'nac_female', 'nh_male', 'nh_female',
       'nhwa_male', 'nhwa_female', 'nhba_male', 'nhba_female', 'nhia_male',
       'nhia_female', 'nhaa_male', 'nhaa_female', 'nhna_male', 'nhna_female',
       'nhtom_male', 'nhtom_female', 'nhwac_male', 'nhwac_female',
       'nhbac_male', 'nhbac_female', 'nhiac_male', 'nhiac_female',
       'nhaac_male', 'nhaac_female', 'nhnac_male', 'nhnac_female', 'h_male',
       'h_female', 'hwa_male', 'hwa_female', 'hba_male', 'hba_female',
       'hia_male', 'hia_female', 'haa_male', 'haa_female', 'hna_male',
       'hna_female', 'htom_male', 'htom_female', 'hwac_male', 'hwac_female',
       'hbac_male', 'hbac_female', 'hiac_male', 'hiac_female', 'haac_male',
       'haac_female', 'hnac_male', 'hnac_female']]

In [28]:
by_county

,state,countyFIPS,year,tot_pop,tot_male,tot_female,wa_male,wa_female,ba_male,ba_female,...,hwac_male,hwac_female,hbac_male,hbac_female,hiac_male,hiac_female,haac_male,haac_female,hnac_male,hnac_female
county,,,,,,,,,,,,,,,,,,,,,
1001,171,1001,344109,988772,481966,506806,382052,395112,85482,94916,...,11348,10420,1258,1030,526,600,214,234,288,196
1003,171,1003,344109,3463860,1690218,1773642,1481356,1547282,157840,167528,...,76008,65980,3484,3394,3428,2826,792,854,714,566
1005,171,1005,344109,485312,258386,226926,130670,114032,122074,108588,...,10290,8050,1066,932,1086,678,14,12,244,172
1007,171,1007,344109,408584,219648,188936,161188,151950,55276,34104,...,4712,2510,400,318,80,140,46,24,368,60
1009,171,1009,344109,1036496,512282,524214,493364,504748,8392,7480,...,45706,38180,1234,882,1032,870,144,198,504,350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,9576,56037,344109,798574,415608,382966,393948,363052,6142,4358,...,63390,54806,1312,884,3012,2558,574,516,354,198
56039,9576,56039,344109,396952,206716,190236,198018,181764,1476,1164,...,29910,26626,452,398,1732,1338,206,204,230,120
56041,9576,56041,344109,377444,190588,186856,183068,179368,1180,970,...,15768,14888,232,286,1264,1434,64,114,134,18
56043,9576,56043,344109,151668,76082,75586,72704,71884,348,314,...,9562,9390,100,152,992,1032,118,198,74,90
56045,9576,56045,344109,129166,68180,60986,65174,58548,432,244,...,2320,1756,106,110,314,206,30,20,26,12

In [29]:
aggregated_final = aggregated_hh_inc.merge(by_county, on = "countyFIPS", how = "left")

In [30]:
for i in aggregated_final.columns:
    print(i)

countyFIPS
County Name
State
stateFIPS
1/31/20
2/29/20
3/31/20
4/30/20
5/31/20
6/30/20
7/31/20
8/31/20
9/30/20
10/31/20
11/30/20
1/31/20_deaths
2/29/20_deaths
3/31/20_deaths
4/30/20_deaths
5/31/20_deaths
6/30/20_deaths
7/31/20_deaths
8/31/20_deaths
9/30/20_deaths
10/31/20_deaths
11/30/20_deaths
PCTPOVALL_2018
POVALL_2018
Civilian_labor_force_2018
Employed_2018
Unemployed_2018
Unemployment_rate_2018
Median_Household_Income_2018
Med_HH_Income_Percent_of_State_Total_2018
state
year
tot_pop
tot_male
tot_female
wa_male
wa_female
ba_male
ba_female
ia_male
ia_female
aa_male
aa_female
na_male
na_female
tom_male
tom_female
wac_male
wac_female
bac_male
bac_female
iac_male
iac_female
aac_male
aac_female
nac_male
nac_female
nh_male
nh_female
nhwa_male
nhwa_female
nhba_male
nhba_female
nhia_male
nhia_female
nhaa_male
nhaa_female
nhna_male
nhna_female
nhtom_male
nhtom_female
nhwac_male
nhwac_female
nhbac_male
nhbac_female
nhiac_male
nhiac_female
nhaac_male
nhaac_female
nhnac_male
nhnac_female
h_male
h_female
hwa_male
hwa_female
hba_male
hba_female
hia_male
hia_female
haa_male
haa_female
hna_male
hna_female
htom_male
htom_female
hwac_male
hwac_female
hbac_male
hbac_female
hiac_male
hiac_female
haac_male
haac_female
hnac_male
hnac_female

In [33]:
aggregated_final

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,hwac_male,hwac_female,hbac_male,hbac_female,hiac_male,hiac_female,haac_male,haac_female,hnac_male,hnac_female
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,Autauga County,AL,1,0,0,7,42,220,537,...,11348.0,10420.0,1258.0,1030.0,526.0,600.0,214.0,234.0,288.0,196.0
2,1003,Baldwin County,AL,1,0,0,19,174,288,680,...,76008.0,65980.0,3484.0,3394.0,3428.0,2826.0,792.0,854.0,714.0,566.0
3,1005,Barbour County,AL,1,0,0,0,39,164,325,...,10290.0,8050.0,1066.0,932.0,1086.0,678.0,14.0,12.0,244.0,172.0
4,1007,Bibb County,AL,1,0,0,3,42,75,170,...,4712.0,2510.0,400.0,318.0,80.0,140.0,46.0,24.0,368.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,63390.0,54806.0,1312.0,884.0,3012.0,2558.0,574.0,516.0,354.0,198.0
3191,56039,Teton County,WY,56,0,0,23,65,100,129,...,29910.0,26626.0,452.0,398.0,1732.0,1338.0,206.0,204.0,230.0,120.0
3192,56041,Uinta County,WY,56,0,0,0,6,12,176,...,15768.0,14888.0,232.0,286.0,1264.0,1434.0,64.0,114.0,134.0,18.0
3193,56043,Washakie County,WY,56,0,0,1,5,36,39,...,9562.0,9390.0,100.0,152.0,992.0,1032.0,118.0,198.0,74.0,90.0
3194,56045,Weston County,WY,56,0,0,0,0,1,2,...,2320.0,1756.0,106.0,110.0,314.0,206.0,30.0,20.0,26.0,12.0

In [228]:
aggregated_final.to_csv('w209_aggregated_final.csv')

In [229]:
by_county.to_csv("by_county.csv")

### Without AK and HI

In [34]:
aggregated_final_48 = aggregated_final[aggregated_final.State != "AK"][aggregated_final.State != "HI"]
aggregated_final_48
#aggregated_final_48.to_csv('w209_aggregated_final_48.csv')

/Users/henrybazakas/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,hwac_male,hwac_female,hbac_male,hbac_female,hiac_male,hiac_female,haac_male,haac_female,hnac_male,hnac_female
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,Autauga County,AL,1,0,0,7,42,220,537,...,11348.0,10420.0,1258.0,1030.0,526.0,600.0,214.0,234.0,288.0,196.0
2,1003,Baldwin County,AL,1,0,0,19,174,288,680,...,76008.0,65980.0,3484.0,3394.0,3428.0,2826.0,792.0,854.0,714.0,566.0
3,1005,Barbour County,AL,1,0,0,0,39,164,325,...,10290.0,8050.0,1066.0,932.0,1086.0,678.0,14.0,12.0,244.0,172.0
4,1007,Bibb County,AL,1,0,0,3,42,75,170,...,4712.0,2510.0,400.0,318.0,80.0,140.0,46.0,24.0,368.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,63390.0,54806.0,1312.0,884.0,3012.0,2558.0,574.0,516.0,354.0,198.0
3191,56039,Teton County,WY,56,0,0,23,65,100,129,...,29910.0,26626.0,452.0,398.0,1732.0,1338.0,206.0,204.0,230.0,120.0
3192,56041,Uinta County,WY,56,0,0,0,6,12,176,...,15768.0,14888.0,232.0,286.0,1264.0,1434.0,64.0,114.0,134.0,18.0
3193,56043,Washakie County,WY,56,0,0,1,5,36,39,...,9562.0,9390.0,100.0,152.0,992.0,1032.0,118.0,198.0,74.0,90.0
3194,56045,Weston County,WY,56,0,0,0,0,1,2,...,2320.0,1756.0,106.0,110.0,314.0,206.0,30.0,20.0,26.0,12.0

### Adding New Cases/Deaths

In [35]:
#New Cases

aggregated_final_48["3/31/20_new_cases"] = aggregated_final_48["3/31/20"] - aggregated_final_48["2/29/20"]
aggregated_final_48["4/30/20_new_cases"] = aggregated_final_48["4/30/20"] - aggregated_final_48["3/31/20"]
aggregated_final_48["5/31/20_new_cases"] = aggregated_final_48["5/31/20"] - aggregated_final_48["4/30/20"]
aggregated_final_48["6/30/20_new_cases"] = aggregated_final_48["6/30/20"] - aggregated_final_48["5/31/20"]
aggregated_final_48["7/31/20_new_cases"] = aggregated_final_48["7/31/20"] - aggregated_final_48["6/30/20"]
aggregated_final_48["8/31/20_new_cases"] = aggregated_final_48["8/31/20"] - aggregated_final_48["7/31/20"]
aggregated_final_48["9/30/20_new_cases"] = aggregated_final_48["9/30/20"] - aggregated_final_48["8/31/20"]
aggregated_final_48["10/31/20_new_cases"] = aggregated_final_48["10/31/20"] - aggregated_final_48["9/30/20"]
aggregated_final_48["11/30/20_new_cases"] = aggregated_final_48["11/30/20"] - aggregated_final_48["10/31/20"]

#New Deaths

aggregated_final_48["3/31/20_new_deaths"] = aggregated_final_48["3/31/20_deaths"] - aggregated_final_48["2/29/20_deaths"]
aggregated_final_48["4/30/20_new_deaths"] = aggregated_final_48["4/30/20_deaths"] - aggregated_final_48["3/31/20_deaths"]
aggregated_final_48["5/31/20_new_deaths"] = aggregated_final_48["5/31/20_deaths"] - aggregated_final_48["4/30/20_deaths"]
aggregated_final_48["6/30/20_new_deaths"] = aggregated_final_48["6/30/20_deaths"] - aggregated_final_48["5/31/20_deaths"]
aggregated_final_48["7/31/20_new_deaths"] = aggregated_final_48["7/31/20_deaths"] - aggregated_final_48["6/30/20_deaths"]
aggregated_final_48["8/31/20_new_deaths"] = aggregated_final_48["8/31/20_deaths"] - aggregated_final_48["7/31/20_deaths"]
aggregated_final_48["9/30/20_new_deaths"] = aggregated_final_48["9/30/20_deaths"] - aggregated_final_48["8/31/20_deaths"]
aggregated_final_48["10/31/20_new_deaths"] = aggregated_final_48["10/31/20_deaths"] - aggregated_final_48["9/30/20_deaths"]
aggregated_final_48["11/30/20_new_deaths"] = aggregated_final_48["11/30/20_deaths"] - aggregated_final_48["10/31/20_deaths"]

In [36]:
aggregated_final_48 = aggregated_final_48.merge(county_pop, on = "countyFIPS", how = "left")
aggregated_final_48

,countyFIPS,County Name_x,State_x,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,5/31/20_new_deaths,6/30/20_new_deaths,7/31/20_new_deaths,8/31/20_new_deaths,9/30/20_new_deaths,10/31/20_new_deaths,11/30/20_new_deaths,County Name_y,State_y,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Statewide Unallocated,AL,0.0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Statewide Unallocated,AK,0.0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Statewide Unallocated,AZ,0.0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Statewide Unallocated,AR,0.0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Statewide Unallocated,CA,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,0,0,2,0,0,0,4,Sweetwater County,WY,42343.0
5554,56039,Teton County,WY,56,0,0,23,65,100,129,...,0,0,0,0,0,0,1,Teton County,WY,23464.0
5555,56041,Uinta County,WY,56,0,0,0,6,12,176,...,0,0,0,2,0,1,1,Uinta County,WY,20226.0
5556,56043,Washakie County,WY,56,0,0,1,5,36,39,...,3,2,0,0,1,1,1,Washakie County,WY,7805.0
5557,56045,Weston County,WY,56,0,0,0,0,1,2,...,0,0,0,0,0,0,1,Weston County,WY,6927.0

In [37]:
aggregated_final_48 = aggregated_final_48[aggregated_final_48.State_y == aggregated_final_48.State_x]

In [233]:
#aggregated_final_48[aggregated_final_48.State_x == "MN"][20:30]

,countyFIPS,County Name_x,State_x,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,5/31/20_new_deaths,6/30/20_new_deaths,7/31/20_new_deaths,8/31/20_new_deaths,9/30/20_new_deaths,10/31/20_new_deaths,11/30/20_new_deaths,County Name_y,State_y,population
2321,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,MA,0.0
2322,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,MI,0.0
2323,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,MN,0.0
2324,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,MS,0.0
2325,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,MO,0.0
2326,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,MT,0.0
2327,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,NE,0.0
2328,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,NV,0.0
2329,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,NH,0.0
2330,0,Statewide Unallocated,MN,27,0,0,0,0,89,83,...,0,0,0,0,0,0,0,Statewide Unallocated,NJ,0.0

In [38]:
for i in aggregated_final_48.columns:
    print("\""+i+"\",", end = "")

"countyFIPS","County Name_x","State_x","stateFIPS","1/31/20","2/29/20","3/31/20","4/30/20","5/31/20","6/30/20","7/31/20","8/31/20","9/30/20","10/31/20","11/30/20","1/31/20_deaths","2/29/20_deaths","3/31/20_deaths","4/30/20_deaths","5/31/20_deaths","6/30/20_deaths","7/31/20_deaths","8/31/20_deaths","9/30/20_deaths","10/31/20_deaths","11/30/20_deaths","PCTPOVALL_2018","POVALL_2018","Civilian_labor_force_2018","Employed_2018","Unemployed_2018","Unemployment_rate_2018","Median_Household_Income_2018","Med_HH_Income_Percent_of_State_Total_2018","state","year","tot_pop","tot_male","tot_female","wa_male","wa_female","ba_male","ba_female","ia_male","ia_female","aa_male","aa_female","na_male","na_female","tom_male","tom_female","wac_male","wac_female","bac_male","bac_female","iac_male","iac_female","aac_male","aac_female","nac_male","nac_female","nh_male","nh_female","nhwa_male","nhwa_female","nhba_male","nhba_female","nhia_male","nhia_female","nhaa_male","nhaa_female","nhna_male","nhna_female","nhtom_male","nhtom_female","nhwac_male","nhwac_female","nhbac_male","nhbac_female","nhiac_male","nhiac_female","nhaac_male","nhaac_female","nhnac_male","nhnac_female","h_male","h_female","hwa_male","hwa_female","hba_male","hba_female","hia_male","hia_female","haa_male","haa_female","hna_male","hna_female","htom_male","htom_female","hwac_male","hwac_female","hbac_male","hbac_female","hiac_male","hiac_female","haac_male","haac_female","hnac_male","hnac_female","3/31/20_new_cases","4/30/20_new_cases","5/31/20_new_cases","6/30/20_new_cases","7/31/20_new_cases","8/31/20_new_cases","9/30/20_new_cases","10/31/20_new_cases","11/30/20_new_cases","3/31/20_new_deaths","4/30/20_new_deaths","5/31/20_new_deaths","6/30/20_new_deaths","7/31/20_new_deaths","8/31/20_new_deaths","9/30/20_new_deaths","10/31/20_new_deaths","11/30/20_new_deaths","County Name_y","State_y","population",

In [39]:
aggregated_final_48.columns = ["countyFIPS","County Name","State","stateFIPS","1/31/20","2/29/20","3/31/20","4/30/20","5/31/20","6/30/20","7/31/20","8/31/20","9/30/20","10/31/20","11/30/20","1/31/20_deaths","2/29/20_deaths","3/31/20_deaths","4/30/20_deaths","5/31/20_deaths","6/30/20_deaths","7/31/20_deaths","8/31/20_deaths","9/30/20_deaths","10/31/20_deaths","11/30/20_deaths","PCTPOVALL_2018","POVALL_2018","Civilian_labor_force_2018","Employed_2018","Unemployed_2018","Unemployment_rate_2018","Median_Household_Income_2018","Med_HH_Income_Percent_of_State_Total_2018","state","year","tot_pop","tot_male","tot_female","wa_male","wa_female","ba_male","ba_female","ia_male","ia_female","aa_male","aa_female","na_male","na_female","tom_male","tom_female","wac_male","wac_female","bac_male","bac_female","iac_male","iac_female","aac_male","aac_female","nac_male","nac_female","nh_male","nh_female","nhwa_male","nhwa_female","nhba_male","nhba_female","nhia_male","nhia_female","nhaa_male","nhaa_female","nhna_male","nhna_female","nhtom_male","nhtom_female","nhwac_male","nhwac_female","nhbac_male","nhbac_female","nhiac_male","nhiac_female","nhaac_male","nhaac_female","nhnac_male","nhnac_female","h_male","h_female","hwa_male","hwa_female","hba_male","hba_female","hia_male","hia_female","haa_male","haa_female","hna_male","hna_female","htom_male","htom_female","hwac_male","hwac_female","hbac_male","hbac_female","hiac_male","hiac_female","haac_male","haac_female","hnac_male","hnac_female","3/31/20_new_cases","4/30/20_new_cases","5/31/20_new_cases","6/30/20_new_cases","7/31/20_new_cases","8/31/20_new_cases","9/30/20_new_cases","10/31/20_new_cases","11/30/20_new_cases","3/31/20_new_deaths","4/30/20_new_deaths","5/31/20_new_deaths","6/30/20_new_deaths","7/31/20_new_deaths","8/31/20_new_deaths","9/30/20_new_deaths","10/31/20_new_deaths","11/30/20_new_deaths","County Name_y","State_y","population"]

In [40]:
aggregated_final_48 = aggregated_final_48[["countyFIPS","County Name","State","stateFIPS","1/31/20","2/29/20","3/31/20","4/30/20","5/31/20","6/30/20","7/31/20","8/31/20","9/30/20","10/31/20","11/30/20","1/31/20_deaths","2/29/20_deaths","3/31/20_deaths","4/30/20_deaths","5/31/20_deaths","6/30/20_deaths","7/31/20_deaths","8/31/20_deaths","9/30/20_deaths","10/31/20_deaths","11/30/20_deaths","PCTPOVALL_2018","POVALL_2018","Civilian_labor_force_2018","Employed_2018","Unemployed_2018","Unemployment_rate_2018","Median_Household_Income_2018","Med_HH_Income_Percent_of_State_Total_2018","state","year","tot_pop","tot_male","tot_female","wa_male","wa_female","ba_male","ba_female","ia_male","ia_female","aa_male","aa_female","na_male","na_female","tom_male","tom_female","wac_male","wac_female","bac_male","bac_female","iac_male","iac_female","aac_male","aac_female","nac_male","nac_female","nh_male","nh_female","nhwa_male","nhwa_female","nhba_male","nhba_female","nhia_male","nhia_female","nhaa_male","nhaa_female","nhna_male","nhna_female","nhtom_male","nhtom_female","nhwac_male","nhwac_female","nhbac_male","nhbac_female","nhiac_male","nhiac_female","nhaac_male","nhaac_female","nhnac_male","nhnac_female","h_male","h_female","hwa_male","hwa_female","hba_male","hba_female","hia_male","hia_female","haa_male","haa_female","hna_male","hna_female","htom_male","htom_female","hwac_male","hwac_female","hbac_male","hbac_female","hiac_male","hiac_female","haac_male","haac_female","hnac_male","hnac_female","3/31/20_new_cases","4/30/20_new_cases","5/31/20_new_cases","6/30/20_new_cases","7/31/20_new_cases","8/31/20_new_cases","9/30/20_new_cases","10/31/20_new_cases","11/30/20_new_cases","3/31/20_new_deaths","4/30/20_new_deaths","5/31/20_new_deaths","6/30/20_new_deaths","7/31/20_new_deaths","8/31/20_new_deaths","9/30/20_new_deaths","10/31/20_new_deaths","11/30/20_new_deaths","population"]]

In [41]:
aggregated_final_48

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,3/31/20_new_deaths,4/30/20_new_deaths,5/31/20_new_deaths,6/30/20_new_deaths,7/31/20_new_deaths,8/31/20_new_deaths,9/30/20_new_deaths,10/31/20_new_deaths,11/30/20_new_deaths,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
51,1001,Autauga County,AL,1,0,0,7,42,220,537,...,0,3,1,8,9,2,4,3,12,55869.0
52,1003,Baldwin County,AL,1,0,0,19,174,288,680,...,0,3,6,1,12,20,10,19,27,223234.0
53,1005,Barbour County,AL,1,0,0,0,39,164,325,...,0,1,0,0,4,2,0,2,2,24686.0
54,1007,Bibb County,AL,1,0,0,3,42,75,170,...,0,0,1,0,1,6,2,5,2,22394.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,0,0,0,0,2,0,0,0,4,42343.0
5554,56039,Teton County,WY,56,0,0,23,65,100,129,...,0,1,0,0,0,0,0,0,1,23464.0
5555,56041,Uinta County,WY,56,0,0,0,6,12,176,...,0,0,0,0,0,2,0,1,1,20226.0
5556,56043,Washakie County,WY,56,0,0,1,5,36,39,...,0,0,3,2,0,0,1,1,1,7805.0
5557,56045,Weston County,WY,56,0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,1,6927.0

In [253]:
aggregated_final_48.to_csv('FINAL_w209_dataset_v3.csv')

<bound method Series.isna of 0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
5553    6866.0
5554    2868.0
5555    3300.0
5556    1256.0
5557    1252.0
Name: tom_male, Length: 5558, dtype: float64>

In [192]:
aggregated_final_48.aac_female

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
5553    5462.0
5554    3712.0
5555    1712.0
5556     860.0
5557     524.0
Name: aac_female, Length: 5558, dtype: float64

In [148]:
aggregated_final_48[aggregated_final_48["County Name"] == "Jefferson Davis Parish"]["11/18/20_new_cases"]

1921    18642
Name: 11/18/20_new_cases, dtype: int64

In [195]:
aggregated_final_48.State.unique()

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN',
       'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND',
       'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT',
       'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [196]:
aggregated_final_48[aggregated_final_48.State == "GA"]

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,3/31/20_new_deaths,4/30/20_new_deaths,5/31/20_new_deaths,6/30/20_new_deaths,7/31/20_new_deaths,8/31/20_new_deaths,9/30/20_new_deaths,10/31/20_new_deaths,11/30/20_new_deaths,population
767,0,Statewide Unallocated,GA,13,0,0,183,976,3710,6032,...,1,13,17,18,35,47,36,28,17,0.0
768,0,Statewide Unallocated,GA,13,0,0,183,976,3710,6032,...,1,13,17,18,35,47,36,28,17,0.0
769,0,Statewide Unallocated,GA,13,0,0,183,976,3710,6032,...,1,13,17,18,35,47,36,28,17,0.0
770,0,Statewide Unallocated,GA,13,0,0,183,976,3710,6032,...,1,13,17,18,35,47,36,28,17,0.0
771,0,Statewide Unallocated,GA,13,0,0,183,976,3710,6032,...,1,13,17,18,35,47,36,28,17,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,13313,Whitfield County,GA,13,0,0,10,103,374,1118,...,1,3,3,3,15,26,9,4,19,104628.0
973,13315,Wilcox County,GA,13,0,0,1,89,111,126,...,0,9,4,2,3,2,0,5,0,8635.0
974,13317,Wilkes County,GA,13,0,0,2,25,33,56,...,0,0,1,0,2,0,2,2,0,9777.0
975,13319,Wilkinson County,GA,13,0,0,1,35,69,75,...,0,2,4,2,2,7,0,0,1,8954.0
976,13321,Worth County,GA,13,0,0,28,153,211,317,...,1,10,10,1,1,5,2,5,0,20247.0

In [197]:
aggregated_final_48

,countyFIPS,County Name,State,stateFIPS,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,...,3/31/20_new_deaths,4/30/20_new_deaths,5/31/20_new_deaths,6/30/20_new_deaths,7/31/20_new_deaths,8/31/20_new_deaths,9/30/20_new_deaths,10/31/20_new_deaths,11/30/20_new_deaths,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5553,56037,Sweetwater County,WY,56,0,0,2,11,30,89,...,0,0,0,0,2,0,0,0,4,42343.0
5554,56039,Teton County,WY,56,0,0,23,65,100,129,...,0,1,0,0,0,0,0,0,1,23464.0
5555,56041,Uinta County,WY,56,0,0,0,6,12,176,...,0,0,0,0,0,2,0,1,1,20226.0
5556,56043,Washakie County,WY,56,0,0,1,5,36,39,...,0,0,3,2,0,0,1,1,1,7805.0
5557,56045,Weston County,WY,56,0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,1,6927.0